.main {
  color: black;
  min-width: 75vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.about {
  margin: 2em auto;
  width: 90%;
}

.about p {
  margin-bottom: 0.5em;
  text-align: justify;
}

.filter-input-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.filter-nav-div {
  margin: 0 auto;
  width: 90%;
}

.arrow-icon {
  cursor: pointer;
  max-height: 2rem;
}

.filters-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.filter-right-border {
  height: 5px;
}

.filters-div input {
  border: solid rgb(214, 212, 212) 0.1em;
  border-radius: 5px;
}

.filters-div:nth-last-child(1) {
  border: none;
}

.filter-cancel-button {
  margin-left: 10px;
}
.filter-cancel-button:hover {
  cursor: pointer;
}

.filter-label-div {
  display: flex;
  align-items: center;
}

.filter-submit-button {
  margin-left: 16px;
}

.letter {
  border-bottom: solid gray 1px;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

.letter:nth-last-child(1) {
  border: none;
}

.letters-container {
  width: 90%;
  text-align: justify;
  margin: 0 auto;
}
